# Ignore node_modules directory
node_modules

# Ignore .env file containing environment variables
.env

# Ignore dist directory
dist

# Ignore any log files
*.log

# Ignore any local configuration files that may exist
config/local*

# Ignore any test and development files
**/*.test.*
**/__tests__/*
**/__mocks__/*